h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: $title-color;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

h5 {
    font-size: 1.8rem;
    font-weight: 500;
}

@mixin navigation-link {
    font-size: 1.8rem;
    color: $white-color;
    text-decoration: none;
}

@mixin info-text {
    font-size: 1.8rem;
    font-weight: 400;
    color: $black-color;
}

@mixin button-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: $white-color;
}

@mixin contact-info {
    font-size: 1.8rem;
    font-weight: 300;
}