<form id="contact-form" action="">
    <div class="contact-form__input" for="">
        <h5>Nombre Completo</h5>
        <input type="text" name="" id="" placeholder="Escribe tu nombre">
    </div>
    <div class="contact-form__input" for="">
        <h5>Correo Electronico</h5>
        <input type="email" name="" id="" placeholder="Ej. miCorreo@gmail.com">
    </div>
    <div class="contact-form__input" for="">
        <h5>Telefono</h5>
        <input type="number" name="" id="" placeholder="Ej. 871 123 4567">
    </div>
    <div class="contact-form__input" for="">
        <h5>Organizacion</h5>
        <input type="text" name="" id="" placeholder="Ej. Mi empresa SA">
    </div>
    <div class="contact-form__button">
        <button class="button--more">ENVIAR</button>
    </div>
</form>