<form id="contact-form" [formGroup]="contactForm">
    <div class="contact-form__input" for="">
        <h5>Nombre Completo</h5>
        <input type="text" formControlName="completeName" placeholder="Escribe tu nombre">
    </div>
    <div class="contact-form__input" for="">
        <h5>Correo Electrónico</h5>
        <input type="email" formControlName="email" placeholder="Ej. miCorreo@gmail.com">
    </div>
    <div class="contact-form__input" for="">
        <h5>Teléfono</h5>
        <input type="number" formControlName="phone" placeholder="Ej. 871 123 4567">
    </div>
    <div class="contact-form__input" for="">
        <h5>organización</h5>
        <input type="text" formControlName="company" placeholder="Ej. Mi empresa SA">
    </div>
    <div class="contact-form__button">
        <button class="button--more" (click)="onSubmit()">ENVIAR</button>
    </div>
</form>