<section id="contact-us">
    <h2 class="contact-us__title">CONTÁCTENOS</h2>
    <div class="contact-form">
        <app-contact-form></app-contact-form>
    </div>
    <div class="contact-us-info">
        <div class="contact-us-contact">
            <div class="contact-us-contact__option">
                <i class="fas fa-map-marker-alt"></i>
                <p>Calle 47 Colonia Lomas de casa blanca, Queretaro</p>
            </div>
            <div class="contact-us-contact__option">
                <i class="fas fa-phone-alt"></i>
                <div class="option-body">
                    <p>442 680 8182</p>
                </div>
            </div>
            <div class="contact-us-contact__option">
                <i class="far fa-envelope"></i>
                <div class="option-body">
                    <p>ventas@hylsa.com</p>
                    <p>ventas@hylsa.com</p>
                </div>
            </div>
        </div>
        <div class="contact-us-address__frame">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.4678844336445!2d-100.39977548530517!3d20.568941708692584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d345211c93fa89%3A0x42d86dfe145cfd86!2sCalle%2047%2C%20Lomas%20de%20Casa%20Blanca%2C%2076080%20Santiago%20de%20Quer%C3%A9taro%2C%20Qro.!5e0!3m2!1sen!2smx!4v1618721072384!5m2!1sen!2smx" width="350" height="350" style="border:0;" allowfullscreen="false" loading="lazy"></iframe>
        </div>
    </div>
</section>