<section id="home-page">
    <div class="contenedor">
        <app-link-card image="assets/images/envasados.png" title="Envasados"></app-link-card>
        <app-link-card image="assets/images/agregados.png" title="Agregados"></app-link-card>
        <app-link-card image="assets/images/aceros.png" title="Aceros"></app-link-card>
        <app-link-card image="assets/images/prefabricados.png" title="Prefabricados"></app-link-card>
        <app-link-card image="assets/images/otros.png" title="Otros"></app-link-card>
    </div>
</section>