<section id="aside-navbar">
    <div class="navbar-header">
        <img class="navbar-header__img" src="assets/images/hylsa-logo.png" alt="Brand logo">
    </div>
    <ul class="navbar-links">
        <li class="navbar-links__link"><a href=""><i class="fas fa-home navbar-links__left-icon"></i>Inicio</a></li>
        <li class="navbar-links__link"><a href=""><i class="far fa-building navbar-links__left-icon"></i>Nosotros</a></li>
        <li class="navbar-links__link"><a href=""><i class="fas fa-toolbox navbar-links__left-icon"></i>Materiales<i class="fas fa-chevron-right navbar-links__right-icon"></i></a></li>
        <li class="navbar-links__link"><a href=""><i class="far fa-comments navbar-links__left-icon"></i>Contacto</a></li>
    </ul>
</section>