<section id="navbar">
    <div class="menu-button" (click)="showMenu()">
        <i class="fas fa-bars"></i>
    </div>
    <div class="contact-text">
        <div class="contact-text__contact">
            <i class="far fa-envelope"></i>
            <p>ventas@varillahylsa.com</p>
        </div>
        <div class="contact-text__contact">
            <i class="fas fa-phone-alt"></i>
            <p>442 680 8182</p>
        </div>
    </div>
    <div class="contact-buttons">
        <div class="contact-buttons__button">
            <button class="button--primary" routerLink='/contacto'>Contacto Rápido</button>
        </div>
        <div class="contact-buttons__button--whatsapp">
            <a class="button--whatsapp" href="https://api.whatsapp.com/send/?phone={{phoneContact}}&text={{whatsappMessage}}&app_absent=0" target="_blank" rel="noopener noreferrer">Whatsapp Rápido<i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</section>
