<section id="navbar">
    <div class="contact-text">
        <div class="contact-text__contact">
            <i class="far fa-envelope"></i>
            <p>ventas@varillahylsa.com</p>
        </div>
        <div class="contact-text__contact">
            <i class="fas fa-phone-alt"></i>
            <p>4426808182</p>
        </div>
    </div>
    <div class="contact-buttons">
        <div class="contact-buttons__button">
            <button class="button--primary">Contacto Rápido</button>
        </div>
        <div class="contact-buttons__button--whatsapp">
            <button class="button--whatsapp">Whatsapp Rápido<i class="fab fa-whatsapp"></i></button>
        </div>
    </div>
</section>
