.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 14px 27px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    @include button-text;
    &.disabled,
    &[disabled] {
        background-color: transparent;
        color: $color-gray-400;
        border: none;
        cursor: default;
    }
    &--primary {
        @extend .button;
        background-color: $brand-color;
        box-shadow: 0px 5px 0px rgba(55, 96, 186, 0.75);
        &:enabled {
          &:hover {
            background-color: rgba($color: $brand-color, $alpha: 0.95);
          }
          &:active {
            background-color: rgba($color: $brand-color, $alpha: 0.9);
          }
        }
    }
    &--whatsapp {
        @extend .button;
        background-color: $whatsapp-color;
        box-shadow: 0px 5px 0px rgba(37, 211, 102, 0.75);
        &:enabled {
          &:hover {
            background-color: rgba($color: $whatsapp-color, $alpha: 0.95);
          }
          &:active {
            background-color: rgba($color: $whatsapp-color, $alpha: 0.9);
          }
        }
    }
    &--more {
      @extend .button;
      font-size: 1.4rem;
      background-color: $secondary-color;
      &:enabled {
        &:hover {
          background-color: rgba($color: $secondary-color, $alpha: 0.95);
        }
        &:active {
          background-color: rgba($color: $secondary-color, $alpha: 0.9);
        }
      }
    }
  }