section#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    border-bottom: 2px solid $brand-color;

    div.menu-button {
        display: none;
        margin-right: 18px;
        i {
            font-size: 4rem;
            color: $brand-color;
        }
    }

    div.contact-text {
        display: flex;
        align-items: center;
        width: 50%;

        div.contact-text__contact {
            display: flex;
            align-items: center;
            width: 100%;
            padding-right: 24px;
            i{
                font-size: 3rem;
                padding-right: 8px;
                color: $brand-color;
            }
            p {
                @include info-text;
            }
        }
    }
    div.contact-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
        div.contact-buttons__button {
            padding-right: 24px;
        }
        div.contact-buttons__button--whatsapp {
            i {
                padding-left: 8px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 0 20px;

        div.menu-button {
            display: flex;
        }
    }

    @media screen and (max-width: 768px) {
        div.contact-text {
            width: 72%;
        }

        div.contact-buttons {
            width: 28%;
            div.contact-buttons__button{
                padding: 0;
            }
            div.contact-buttons__button--whatsapp {
                display: none;
            }
        }
    }
}