<section id="about-us">
    <h2 class="about-us__title">SOBRE NOSOTROS</h2>
    <div class="about-us__image-container"></div>
    <div class="about-us-description">
        <h4 class="about-us-descripion__title">¿QUIÉNES SOMOS?</h4>
        <p class="about-us-description__body">HYLSA es una empresa joven e innovadora en la cual estamos comprometidos con los proyectos de nuestros clientes, somos un equipo de trabajo joven y emprendedor preparados para brindarte materiales y asesoría adecuada para tus proyectos de construcción, estamos en constante crecimiento para ofrecer aun más y mejores servicios y materiales. Crece con nosotros y mantente al tanto de nuestra evolución siendo parte de la familia HYLSA comprando los materiales de construcción adecuados para tu proyecto.</p>
        <br>
        <p class="about-us-description__body">Nuestro objetivo es brindarte un servicio excepcional para proveer los materiales para tus proyectos de construcción mediante modernas herramientas digitales, puedes tener la seguridad de contar con nosotros cuando lo necesites, estamos al alcance de una llamada, un correo o un WhatsApp, el equipo HYLSA esta preparado para atenderte de la mejor y más rápida manera posible.</p>
    </div>
    <div class="about-us-description">
        <h4 class="about-us-descripion__title">FILOSOFIA HYLSA</h4>
        <p class="about-us-description__body">El propósito del equipo HYLSA es proveer excelencia y profesionalismo a través de todos y cada uno de nuestros productos, logrando la permanente satisfacción de nuestros clientes. Esto implica el estricto cumplimiento de los contratos, especificaciones técnicas y costos de cada uno de los servicios y materiales que proveemos.</p>
        <br>
        <p class="about-us-description__body">Para lograr esto, en HYLSA contamos con la increíble colaboración de distintas marcas que nos respaldan con la calidad que tu ya conoces, de esta manera nos aseguramos de que lo que llega a ti es algo de excelente calidad, pues colaboramos con las principales marcas conocidas en el sector de construcción para brindarte siempre lo mejor de nosotros y de los materiales que disponemos.</p>
    </div>
    <div class="about-us-brands">
        <h4 class="about-us-brands__title">MARCAS QUE MANEJAMOS</h4>
        <figure class="about-us-image-container">
            <img src="assets/images/marcas/logo.jpeg" alt="Associate brand image">
            <img src="assets/images/marcas/poliacero.jpeg" alt="Associate brand image">
            <img src="assets/images/marcas/sicartsa.jpeg" alt="Associate brand image">
            <img src="assets/images/marcas/cementos-fortaleza.jpeg" alt="Associate brand image">
            <img src="assets/images/marcas/grupo-san-simec.jpeg" alt="Associate brand image">
            <img src="assets/images/suacero.png" alt="Associate brand image">
            <img src="assets/images/marcas/cementos-monterrey.jpeg" alt="Associate brand image">
            <img src="assets/images/deacero.png" alt="Associate brand image">
        </figure>
    </div>
</section>