<section id="about-us">
    <h2 class="about-us__title">SOBRE NOSOTROS</h2>
    <div class="about-us__image-container"></div>
    <div class="about-us-description">
        <h4 class="about-us-descripion__title">LOREM IPSUM</h4>
        <p class="about-us-description__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dolore voluptatem odit quisquam aut quis facere pariatur, ipsum id sint qui eius sed error expedita sequi. Quos repellendus ipsa ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ab mollitia perferendis. Ducimus voluptates, itaque tempore id delectus error dolor! Dignissimos obcaecati, soluta dolorem aliquam reiciendis debitis explicabo omnis totam!</p>
        <br>
        <p class="about-us-description__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dolore voluptatem odit quisquam aut quis facere pariatur, ipsum id sint qui eius sed error expedita sequi. Quos repellendus ipsa ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ab mollitia perferendis. Ducimus voluptates, itaque tempore id delectus error dolor! Dignissimos obcaecati, soluta dolorem aliquam reiciendis debitis explicabo omnis totam!</p>
    </div>
    <div class="about-us-description">
        <h4 class="about-us-descripion__title">LOREM IPSUM</h4>
        <p class="about-us-description__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dolore voluptatem odit quisquam aut quis facere pariatur, ipsum id sint qui eius sed error expedita sequi. Quos repellendus ipsa ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ab mollitia perferendis. Ducimus voluptates, itaque tempore id delectus error dolor! Dignissimos obcaecati, soluta dolorem aliquam reiciendis debitis explicabo omnis totam!</p>
        <br>
        <p class="about-us-description__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus dolore voluptatem odit quisquam aut quis facere pariatur, ipsum id sint qui eius sed error expedita sequi. Quos repellendus ipsa ea? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ab mollitia perferendis. Ducimus voluptates, itaque tempore id delectus error dolor! Dignissimos obcaecati, soluta dolorem aliquam reiciendis debitis explicabo omnis totam!</p>
    </div>
    <div class="about-us-brands">
        <h4 class="about-us-brands__title">MARCAS QUE MANEJAMOS</h4>
        <figure class="about-us-image-container">
            <img src="../../../../assets/images/marcas/logo.jpeg" alt="Associate brand image">
            <img src="../../../../assets/images/marcas/poliacero.jpeg" alt="Associate brand image">
            <img src="../../../../assets/images/marcas/sicartsa.jpeg" alt="Associate brand image">
            <img src="../../../../assets/images/marcas/cementos-fortaleza.jpeg" alt="Associate brand image">
            <img src="../../../../assets/images/marcas/grupo-san-simec.jpeg" alt="Associate brand image">
            <img src="../../../../assets/images/suacero.png" alt="Associate brand image">
            <img src="../../../../assets/images/marcas/cementos-monterrey.jpeg" alt="Associate brand image">
            <img src="../../../../assets/images/deacero.png" alt="Associate brand image">
        </figure>
    </div>
</section>